.accordion {
  text-align: center;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0px auto;
  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    &:hover li {
      width: 10%;
      &:hover div { background: rgba(0, 0, 0, 0.4); }
    }
    li {
      display: table-cell;
      vertical-align: bottom;
      position: relative;
      width: 16.666%;
      height: 350px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 500ms ease-in-out;
      background-size: cover;
      cursor: pointer;
      &:hover {
        width: 90%;
        div * {
          opacity: 1;
          -webkit-transform: translateX(0);
          transform: translateX(0);
          overflow: hidden;
        }
      }
      div {
        display: block;
        overflow: hidden;
        width: 100%;
        
          display: block;
          height: 350px;
          width: 100%;
          position: relative;
          z-index: 3;
          vertical-align: bottom;
          padding: 15px 20px;
          box-sizing: border-box;
          color: #fff;
          text-shadow: 1px 1px 2px #000;
          // filter: invert(100%);
          text-decoration: none;
          font-family: Open Sans, sans-serif;
          transition: all 300ms ease-in-out;
          * {
             opacity: 0;
             margin: 0;
             width: 100%;
             text-overflow: ellipsis;
             position: relative;
             z-index: 5;
             white-space: nowrap;
             -webkit-transform: translateX(-20px);
             transform: translateX(-20px);
             -webkit-transition: all 400ms ease-in-out;
            //  transition: all 400ms ease-in-out;
          }
          h2 {
             opacity: 1;
             transform: rotate(-90deg);
             font-family: Montserrat, sans-serif;
             text-overflow: clip;
             font-size: 32px;
             text-transform: uppercase;
             margin-bottom: 2px;
             top: 160px;
          }
          p {
             overflow: hidden;
             top: 160px;
             font-size: 18px;
             padding-left: 1em;
          }
      }
    }
  }
}

// .accordion ul li:nth-child(1) {
//   background-image: url("https://image.freepik.com/free-photo/the-beautiful-place-ha-long-bay_181624-19966.jpg");
//   background-position: 50% 30%;
// }

// .accordion ul li:nth-child(2) {
//   background-image: url("https://image.freepik.com/free-photo/morning-sun-light-rays-piercing-through-the-trees_97378-54.jpg");
//   background-position: 70% 0%;
// }

// .accordion ul li:nth-child(3) {
//   background-image: url("https://image.freepik.com/free-photo/the-shore-or-fallen-leaf-lake-and-its-still-water-with-beautiful-reflection-in-the-water_181624-423.jpg");
//   background-position: 50% 50%;
// }

// .accordion ul li:nth-child(4) {
//   background-image: url("https://image.freepik.com/free-photo/harbor-freight-blue-toned-images_1127-2863.jpg");
//   background-position: 30% 40%;
// }

// .accordion ul li:nth-child(5) {
//   background-image: url("https://image.freepik.com/free-vector/realistic-lightning-bolts-flashes-composition-with-images-of-clouds-in-night-sky-and-radiant-glowing-lightning-strokes_1284-28572.jpg");
//   background-position: 60% 64%;
// }

// .accordion ul li:nth-child(6) {
//   background-image: url("https://image.freepik.com/free-vector/realistic-lightning-bolts-flashes-composition-with-view-of-night-city-sky-with-clouds-and-thunderbolt-images_1284-28574.jpg");
//   background-position: 70% 25%;
// }

@media screen and (max-width: 680px) {
  .accordion {
    height: auto;
    ul li,
    ul li:hover,
    ul:hover li,
    ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none;
    }
    ul li div {
      background: rgba(0, 0, 0, 0.4);
      h2 {
        transform: rotate(0deg);
      }
      * {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}