@mixin text {
  color: rgb(235, 244, 255);
  text-overflow: clip;
  overflow: hidden;
  text-align: left;
  white-space: pre-line;
  text-shadow: 1px 1px 2px #000;
  // filter: invert(100%);
  text-decoration: none;
}

.accordion {
  width: 100%;
  height: 360px;
  overflow: hidden;
  margin: 0px auto;
  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    &:hover li {
      width: 10%;
      &:hover .sliderLink {
        background: rgba(0, 0, 0, 0.7);
      }
    }
    li {
      display: table-cell;
      vertical-align: bottom;
      position: relative;
      width: 16.666%;
      height: 360px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 500ms ease-in-out;
      background-size: cover;
      .sliderLink {
        display: block;
        overflow: hidden;
        width: 100%;

        background: rgba(0, 0, 0, 0.4);
        height: 360px;
        position: relative;
        z-index: 3;
        vertical-align: bottom;
        box-sizing: border-box;
        transition: all 300ms ease-in-out;
        * {
          margin: 0;
          text-overflow: ellipsis;
          position: relative;
          z-index: 5;
          white-space: nowrap;
          -webkit-transition: all 400ms ease-in-out;
          //  transition: all 400ms ease-in-out;
        }
        .icon {
          background-color: rgb(235, 244, 255);
          border-radius: 100%;
          padding: 10px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .button {
          opacity: 0;
          cursor: pointer;
          position: absolute;
          bottom: 5%;
          left: 30px;
          transform: translate(0, -50%);

          padding: 10px;
          background-color: #00000000;
          border-radius: 5px;
          border: 3px solid rgb(235, 244, 255);

          @include text();
          font-family: Montserrat, sans-serif;
          text-transform: uppercase;
          font-size: 32px;
        }
        .information {
          opacity: 0;
          margin-right: auto;
          width: 350px;
          height: 330px;
          left: 30px;
          h2 {
            @include text();
            font-family: Montserrat, sans-serif;
            text-transform: uppercase;
            top: 20px;
            font-size: 32px;
          }
          p {
            @include text();
            font-family: Open Sans, sans-serif;
            top: 40px;
            font-size: 18px;
          }
        }
      }
      &:hover {
        width: 40%;
        .sliderLink * {
          // -webkit-transform: translateX(0);
          // transform: translateX(0);
        }
        .icon {
          left: 80%;
          transform: translate(-50%, -50%);
        }
        .information,
        .button {
          opacity: 1;
          // overflow: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .accordion {
    height: auto;
    ul li .sliderLink {
      h2 {
        transform: rotate(0deg);
      }
      * {
        opacity: 1;
      }
      .information,
      .button {
        left: 5px;
      }
    }
    ul li,
    ul li:hover,
    ul:hover li,
    ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none;
    }
    li:hover {
      .icon {
        opacity: 0;
      }
    }
  }
}
